body {
  background-color: #11151c;
  color: #f2f3d9;
  display: grid;
  place-content: center;
  height: 100vh;
  font-size: 1.75rem;
}

button {
  cursor: pointer;
  background-color: #8d80ad;
  border: none;
  width: 120px;
  border-radius: 40px;
  padding: 1rem;
}

button:is(:hover) {
  background-color: #685f81;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.scores {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  gap: 1rem;
}