body {
  background-color: #11151c;
  color: #ecebf3;
  display: grid;
  place-content: center;
  height: 100vh;
}

button {
  cursor: pointer;
  background-color: #c7d6d5;
  border: none;
  width: 120px;
  border-radius: 40px;
  padding: 1rem;
}